.container {
  max-width: 1050px;
  background-color: #7d9fff;
  padding: 60px 130px;
}

.postListTitle {
  text-align: center;
  font-size: 36px;
}

.newPost {
  margin-top: 125px;
  background-color: rgba(63, 91, 192, 0.8);
  border-radius: 15px;
  padding: 16px 23px;
  display: flex;
  align-items: start;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formContainer {
  background-color: rgba(33, 50, 46, 0.13);
  display: flex;
  flex-direction: column;
  padding: 0 18px 60px 18px;
  margin-left: 13px;
}

.labelTitle {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 700;
  color: #1e3479;
}

.labelText {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 700;
  color: #1e3479;
}

.inputTitle {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.46);
  border: none;
  border-bottom: 1px solid hsla(166, 20%, 16%, 0.13);
  outline: none;
  font-weight: 700;
}

.inputTitle::placeholder {
  color: rgba(0, 0, 0, 0.46);
  font-size: 16px;
  font-weight: 700;
}

.inputText {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla(166, 20%, 16%, 0.13);
  outline: none;
  font-weight: 700;
}

.inputText::placeholder {
  color: rgba(0, 0, 0, 0.46);
  font-size: 16px;
  font-weight: 700;
}

.submitBtn {
  padding: 9px 17px;
  margin-top: 28px;
  color: rgba(9, 8, 8, 0.8);
  background-color: rgba(13, 61, 48, 0.4);
  border: none;
}
